::-webkit-scrollbar{
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(75, 75, 150);
  min-width: 100vw;
}

.container {
  min-width: 100vw;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: column;
}

.flex-col {
  flex-direction: column;
}

.transition-scale {
  transition: all 0.2s ease-in-out;
}

.nav-item:hover{
  transform: scale(1.05);
  text-decoration: underline;
}

.p-5{
  padding: 5px;
}

.loading .error {
  width: 100%;  
}

.loading p, .error p {
  font-size:25px;
  font-weight: 800;
}

.error p{
  color: red;
}


